body{ 
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.section-top{
    margin: 0 auto;
    padding-left: 13%;
    padding-right: 5%;
    display: flex;
}
.section-top-half{
   
    width: 50%;
    margin-top: 5%;
    
}
.section-top-border-text{
    border-left: 2.5px solid red;
    padding-left: 4px;
} 
.section-top-border-text h1{
    font-size: 30px;
}
.section-top-text-color{
    color: orange;
}

.section-top-explore-bttn{
    
    color: white;
    text-decoration: none;
    border: none;
    background-color: rgba(43, 145, 60, 0.904) ;
    border-radius: 5px;
    padding: 2% 4%;
}
    

.section-top-half img{
    width: 50%;
    padding-left: 15%;
    
}



.my-mission{
    text-align: center;
} 
.my-mission span{
    color: orange;
}
.section-below-top{
   display: flex;
   justify-content: space-around;
   padding-left: 5%;
   padding-right: 5%;
}


.section-below-top-box{
    width: 25%;
    border: none;
    border-radius: 20px;
    text-align: left;
    padding: 40px 20px;
    
}
#mission-box{
background-color: rgba(255, 166, 0, 0.5);
box-shadow: 10px 20px rgba(196, 136, 24, 0.527);
}
.mission-img img{
    width: 40%;
    }

#vision-box{
        background-color: rgba(175, 238, 238, 0.575);
        box-shadow: 10px 20px rgba(69, 136, 136, 0.37);
}
.vision-img img{
    width: 40%;
}
#goal-box{
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 10px 20px rgba(145, 12, 12, 0.39);
}
.goal-img img{
    width: 40%;
}

.section-middle{
    display: flex;
    padding-top: 5%;
    padding-right: 15%;
    padding-left: ;
    margin: 0 ;
    
   
}
.section-middle-half{
    
    
    width: 50%;
    padding-top: 5%;
    padding-left: 10%;
}
.section-middle-half img{
    
    width: 65%;
    padding-left: 10%;
}
#section-middle-bg{
    background-image: url(images/shapes/shape-1.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: 50px;
    background-position-y: 140px;
}
.section-middle-docu-bttn{
    color: white;
    text-decoration: none;
    border: none;
    background-color: rgb(13, 146, 20) ;
    border-radius: 5px;
    padding: 2% 4%;
}
.section-lower{
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;
    
}
.section-lower-docu-bttn{
    color: white;
    text-decoration: none;
    border: none;
    background-color: rgba(8, 104, 8, 0.795) ;
    border-radius: 5px;
    padding: 2% 4%;

}
.section-lower-half{
    width: 50%;
    height: 310px;
    padding-left: 5%;
}
.section-lower-half img{
    width: 60%;
}
#section-lower-bg{
    background-image: url(images/shapes/shape-1.png);
     background-size: 40%;
     height: 100%;
    background-repeat: no-repeat;

    background-position-x: 350px  ;
    background-position-y: 70px ;
}

.bottom-text{
    text-align: center;
    
}
.bottom-text i{
    color: orange;
    
}

.bottom-text-head u{
    color: orange;
     font-size: 50px;
}
.bottom-text-paragraph i{
    color: orange;
}
.bottom{
    display: flex;
    padding-bottom: 10%;
    padding-top: 5%;
}
.bottom-half{
    width: 50%;
    padding-top: 5%;
}
.bottom-half img{
    width: 35%;
    padding-left: 35%;
    padding-top: 5%;
}
#bottom-bg{
    background-image: url(images/shapes/shape-3.png), url(images/shapes/shape-3.png);
    background-repeat: no-repeat, no-repeat, no-repeat ;
    background-size: 20%, 13%;
    background-position-x: 32%, 72%;
    background-position-y: 15%, 87%;
    
}

.bottom-half div{
    padding-top: 5%;
    width: 60%;
}
.app-bttn{
    color: white;
    text-decoration: none;
    border: none;
    background-color: rgba(18, 180, 18, 0.849) ;
    border-radius: 5px;
    padding: 2% 4%;
}

footer{
    padding: 20px 10px;
  text-align: center;
  color: white;
  background-color: rgb(0, 0, 0); 
}

footer h1{
    font-family: 'Shadows Into Light', cursive;
    height: 30px;
}
footer h1 span{
    color: orange;
}
